	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

    /* css for the all page background img */
	body {
		background-image: url(../images/beach2.jpg);
		background-repeat: no-repeat;
		background-position: center;
	}
    /* css for the main app outline*/
	#container{
		height: 600px;
        width: 60%;
		margin: 3% 20% 0 20%;
		border: 2px solid black;
		background-color: rgba(100, 100, 100, 0.6);
		border-radius: 2%;
	}
    /* css for the signout button*/
	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 7%;
		margin-top: -10%;
		border: 2px solid green;
	}
    /* css for hover on signout Button*/
	#signoutDiv :hover {
		border: 2px solid red;
	}
    /* css for the our title*/
    #titleDiv{
		font-family: 'Salsa', cursive;
		color: #FFFFFF;
		font-size: 37pt;
        width: 40%;
        margin: -5% 30% 0 30%;
        text-align: center;
		letter-spacing: 0.1em;
    }
    /* css for the textareas */
    #selectionBox{
		border: 2px solid #000000;
		border-radius: 5%;
        height: 300px;
        width: 60%;
		margin: 0 20% 0% 20%;
	}
    /* css for the textarea with scroll*/
	#form {
		color: white;
		font-weight: bold;
		text-align: center;
		float: left;
		margin: 0 35% 0 35%;
        height: 65%;
        width: 60%;
        margin: 0 20% 0 20%;
		overflow-y: scroll;
	}
    /* css for div containing submit button*/
    #submitDiv{
		width: 50%;
		height: 80px;
		float: left;
		margin: 2% 25% 0 25%;
	}
    /* css for submit button*/
	#submitButton{
		border-radius: 55%;
		width: 80px;
		height: 80px;
		border: 1px solid skyblue;
		background-repeat: no-repeat;
		background-image: url(../images/test2.png);
		background-position: center;
		background-size: contain;
		cursor:pointer;
        margin:-97px 0 0 40%;
    }

    /* css for submit word*/
	#submit {
		float: left;
		color: white;
		font-family: 'Handlee', cursive;
		font-size: 14pt;
		height: 30px;
		margin: 0 41.5% 0 43.5%;
	}

	#home {
		border-radius: 100%;
		border: 2px solid rgb(50, 252, 242);
		width: 80px;
		height: 80px;
		margin-left: 30%;
		margin-top: 30px;
		background-image: url(../images/home.png);
	}

	#home:hover {
		border: 2px solid red;
	}
