	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');
    /* css for body background img*/
	body {
		background-image: url(../images/clouds.jpg);
		background-position: contain;
		background-repeat: no-repeat;
	}
    /* css for our main app area */
	#container{
        height: 600px;
        width: 60%;
		margin: 3% 20% 0 20%;
		background-color: rgba(69, 69, 69, 0.6);
		border-radius: 2%;
	}
    /* css for the signout button*/
	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 5%;
		margin-top: -8%;
		border: 2px solid green;
	}
    /* css for hover on signout button*/
    #signoutDiv :hover {
		border: 2px solid red;
	}
    /* css for title*/
    #titleDiv{
		font-family: 'Salsa', cursive;
		color: #FFFFFF;
		font-size: 37pt;
        width: 40%;
        margin: 0 30% 0 30%;
        text-align: center;
		letter-spacing: 0.1em;
    }
    /* css for placeholder img*/
    #imageBox{
		border: 2px solid #FFFFFF;
		border-radius: 5%;
		overflow: hidden;
        height: 50%;
        width: 60%;
        margin: 0 20% 0 20%;
    }
    /* css for journey button div*/
    #journeyDiv{
		border-radius: 100%;
		color: white;
		border: 2px solid #FFFFFF;
		width: 9%;
		float: left;
		height: 80px;
		margin-left: 22%;
		margin-top: 30px;
		background-image: url(../images/journey.png);
		border: 2px solid red;
		cursor:pointer;
    }
    /* css for edit entry button div*/
    #editEntryDiv{
		border-radius: 100%;
		color: white;
		border: 2px solid #FFFFFF;
		width: 9%;
		height: 80px;
		float: left;
		margin-left: 15%;
		margin-top: 30px;
		background-image: url(../images/entry.png);
		border: 2px solid red;
		cursor:pointer;
    }
    /* css for setting button div*/
    #settingsDiv{
		border-radius: 100%;
		color: white;
		border: 2px solid #FFFFFF;
		width: 9%;
		height: 80px;
		float: right;
		margin-right: 22%;
		margin-top: 30px;
		background-image: url(../images/setting.png);
		border: 2px solid red;
		cursor:pointer;
    }
    /* css for journey word*/
	#def1 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		color: #FFFFFF;
		float: left;
		width: 20%;
		margin-left: 23.5%;
		margin-top: 15px;
	}
    /* css for entry word*/
	#def2 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		color: #FFFFFF;
		float: left;
		width: 20%;
		margin-left: 3.5%;
		margin-top: 15px;
	}
    /* css fir set word*/
	#def3 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		color: #FFFFFF;
		float: left;
		width: 20%;
		margin-left: 3.8%;
		margin-top: 15px;
	}
