	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');
    /* css for body background img*/
	body {
		background-image: url(../images/bridge.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
    /* css for main app area*/
	#container1 {
		margin: 50px 20% 0 20%;
		border: 2px solid;
		width: 60%;
		height: 600px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 2%;
        box-shadow: 10px 10px 10px black;
		border-radius: 2%
		margin-top: 3%;
	}
    /* css for sign out button */
	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 8%;
		margin-top: -12%;
		border: 2px solid green;
	}
    /* css for button hover*/
    #signoutDiv :hover {
		border: 2px solid red;
	}
    /* css for title */
	#title {
		text-align: center;
		color: #FFFFFF;
		font-family: 'Salsa', cursive;
		font-size: 37pt;
		letter-spacing: 0.1em;
		 text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
	}
    /* css for currency div */
	#setting1 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 2px solid #FFFFFF;
		color: grey;
		background-color: white;
		border-radius: 8%;
		height: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 15pt;
		line-height: 20px;
	}
    /* css for save folder div */
	#setting2 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 2px solid #FFFFFF;
		color: grey;
		background-color: white;
		border-radius: 8%;
		height: 50px;
		line-height: 20px;
		margin-top: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 15pt;
	}
    /* css for clear history div */
	#setting3 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 2px solid #FFFFFF;
		color: grey;
		line-height: 20px;
		border-radius: 8%;
		height: 50px;
		background-color: white;
		margin-top: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 15pt;
	}
    /* css for div hover*/
	   #setting1:hover {
	   background-color: grey;
	   color:white;
    }
    /* css for div hover*/
    #setting2:hover {
		background-color: grey;
		color:white;
	}
	#setting3:hover {
		background-color: grey;
		color:white;
	}
    /* css for home button div*/
	#home {
		border-radius: 100%;
		border: 1px solid;
		width: 80px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		text-align: center;
		background-image: url(../images/home.png);
	}
    /* css for home button div hover */
	#home:hover {
		border: 2px solid red;
	}
    /* css for home word*/
	#def1 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		float: left;
		width: 15%;
		margin-left: -2px;
		margin-left: 47.7%;
		margin-top: 10px;
		color: #FFFFFF;
		font-size: 15pt;
		 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
