	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

	body {
		background-image: url(../images/lisbon_background_new.jpg);
	}

	#container{
        height: 600px;
        width: 60%;
		margin: 0 20% 0 20%;
		background-color: rgba(36, 36, 36, 0.7);
		border-radius: 2%;
        box-shadow: 10px 10px 10px black;
	}

	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 7%;
		margin-top: -8%;
	}

		#signoutDiv :hover {
		border: 2px solid red;
	}

    #titleDiv{
		font-family: 'Salsa', cursive;
		color: #FFFFFF;
		font-size: 37pt;
        width: 40%;
        margin: 0 30% 0 30%;
        text-align: center;
		letter-spacing: 0.1em;
    }

    #selectionBox{
		border: 2px solid #FFFFFF;
		border-radius: 5%;
		overflow: hidden;
        height: 50%;
        width: 60%;
        margin: 0 20% 0% 20%;
	}

	#entryDiv{
		border: 2px solid #FFFFFF;
		border-radius: 20px 65px 20px 30px;
		overflow: hidden;
        height: 80px;
        width: 88%;
		margin: 2% 20% 2% 5%;
	}

	#entryImageDiv{
		border: 2px solid  #FFFFFF;
		height: 80%;
		width: 30%;
		margin: 2% 10% 2% 3%;
		border-radius: 20%;
		float: left;
	}

	#entryTitleDiv{
		height: 70%;
		width: 40%;
		float: left;
		border: 2px solid #FFFFFF;
		margin: 3% 0 0 0;
		border-radius: 10%;
		text-align: center;
		font-family: 'Handlee', cursive;
		color: #FFFFFF;
	}

    #submitDiv{
		width: 50%;
		height: 120px;
		float: left;
		margin: 2% 25% 0 25%;
	}
	
	#submitButton{
		border-radius: 55%;
		width: 18%;
		height: 80px;
		border: 2px solid red;
		background-repeat: no-repeat;
		background-image: url(../images/submit2.png);
		cursor:pointer;
        margin: 10px 0 0 40%;
    }

    #submit {
        float: left;
        color: white;
        font-family: 'Handlee', cursive;
        font-size: 14pt;
        margin: 20px 0 0 43.5%;
    }
		margin: 0 auto;
	}
    
	#submit {
		float: left;
		color: white;
		font-family: 'Handlee', cursive; 
		font-size: 14pt;
		height: 30px;
		margin: 0 41.5% 0 41.5%;
	}
