	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');
	
	#container {
	width: 60%;
	height: 600px;
	border: 2px solid red;
	margin: 0 20% 0 20%;
	}
	
	#heading {
	text-align: center;
	font-family: 'Salsa', cursive;
	font-size: 37pt;
	}
	
	#location{
	float:left;
	margin: 60px 0 0 40%;
	width: 100%;
	}
	
	#currency{
	float:left;
	width: 100%;
	margin: 60px 0 0 38%;
	}
	
	#endDate{
	float:left;
	width: 40%;
	display: inline-block;
	}
	
	#starDate{
	float:left;
	width: 40%;
	display:inline-block;
	}
	
	#begin{
	float:left;
	}
	
	#contry {
		font-family: 'Handlee', cursive;
		font-size: 11pt;
	}
	
	input[type=submit] {
		height: 80px;
		width: 80px;
		cursor:pointer;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	#container {
	width: 60%;
	height: 600px;
	border: 2px solid red;
	margin: 0 20% 0 20%;
	}
	
	#background{
	width: 100%;
	background-color: #42e8f4;
	background-repeat: no-repeat;
	background-size: cover;
	
	}
	
	#heading {
		text-align: center;
		font-family: 'Salsa', cursive;
		font-size: 35pt;
	}
	
	#formDiv {
		margin: auto;
		width: 50%;
	}
	
	#CountryDiv{
		margin: 30px 0 0 32%;
	}
	
	#CurrencyDiv{
		margin: 30px 0 0 30%;
		font-family: 'Handlee', cursive;
		font-size: 11pt;
	
	}
	
	#date1Div{
		margin: 30px 10% 0 0;
		text-align: center;
	}
	
	#date2Div{
		margin: 30px 0 0 32%;
	}
	
	
	
	#buttonDiv{
		margin: 30px 0 0 35%;
	}
	
	#begin {
		font-family: 'Handlee', cursive;
		letter-spacing: 0.1em;
		font-size: 13pt;
	}
	input[type=submit] {
		height: 80px;
		width: 80px;
		cursor:pointer;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	
	
	input[type=date]{
		height: 50px;
		cursor:pointer;
	}
	/**
	
	input[type=date]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		display: none;
	}
	
	
	
	input[type=date]::-webkit-calendar-picker-indicator {
		-webkit-appearance: none;
		display: none;
	}
	**/
	::-webkit-datetime-edit { padding: 1em; }
	::-webkit-datetime-edit-fields-wrapper { background: silver; }
	::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
	::-webkit-datetime-edit-month-field { color: blue; }
	::-webkit-datetime-edit-day-field { color: green; }
	::-webkit-datetime-edit-year-field { color: purple; }
	::-webkit-inner-spin-button { display: none; }
	::-webkit-calendar-picker-indicator { background: orange; }
 