	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

	#container {
	width: 60%;
	height: 600px;
	border-radius: 2%;
	background-color: rgba(36, 36, 36, 0.7);
	margin: 0 20% 0 20%;
	}

	body {
	background-image: url(../images/lisbon_background_new.jpg);
        }

	#endDate{
	float:left;
	width: 40%;
	display: inline-block;
	}

	#starDate{
	float:left;
	width: 40%;
	display:inline-block;
	}

	#background{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	}

	#heading {
		text-align: center;
		font-family: 'Salsa', cursive;
		font-size: 35pt;
		color: white;
	}

	#formDiv {
		margin: auto;
		width: 50%;
	}

	#CountryDiv{
		margin: 30px 0 0 32%;
	}

	#CurrencyDiv{
		margin: 30px 0 0 30%;
		font-family: 'Handlee', cursive;
		font-size: 11pt;
		color: #FFFFFF;
	}

	#date1Div{
		margin: 30px 0% 0 0;
		color: #FFFFFF;
		text-align: center;
		font-family: 'Handlee', cursive;
	}

	#date2Div{
		margin: 30px 0 0 0%;
		color: #FFFFFF;
		text-align: center;
		font-family: 'Handlee', cursive;
	}

	#buttonDiv{
		margin: 30px 0 0 38%;
	}

	#begin {
		font-family: 'Handlee', cursive;
		letter-spacing: 0.1em;
		font-size: 13pt;
	}

	input[type=submit] {
		height: 80px;
		width: 80px;
		cursor:pointer;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	input[type=date]{
		height: 50px;
		cursor:pointer;
	}
	/**

	input[type=date]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		display: none;
	}

	input[type=date]::-webkit-calendar-picker-indicator {
		-webkit-appearance: none;
		display: none;
	}
	**/
	::-webkit-datetime-edit { padding: 1em; }
	::-webkit-datetime-edit-fields-wrapper { background: silver; }
	::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
	::-webkit-datetime-edit-month-field { color: blue; }
	::-webkit-datetime-edit-day-field { color: green; }
	::-webkit-datetime-edit-year-field { color: purple; }
	::-webkit-inner-spin-button { display: none; }
	::-webkit-calendar-picker-indicator { background: orange; }
