	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

	body {
		background-image: url(../images/loginb.jpg);
	}
	#container1 {
		margin: 50px 20% 0 20%;
		border: 2px solid;
		width: 60%;
		height: 600px;
		background-color: rgba(125,125,125,0.3);
		border-radius: 2%;
	}

	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 5%;
		margin-top: -8%;
		border: 2px solid green;
	}

    #signoutDiv :hover {
		border: 2px solid red;
	}

	#title {
		text-align: center;
		font-family: 'Salsa', cursive;
		color: #FFFFFF;
		font-size: 37pt;
		letter-spacing: 0.1em;
		margin-top: -35px;
	}

	#container2 {
		margin: 0 20% 0 20%;
		border: 2px solid black;
		border-radius: 5%;
		width: 60%;
		height: 50%;

	}

.mood1 {
    float: left;
    width: 90%;
    height: 100px;
    margin: 20px 5% 0 5%;
    border-radius: 5%;
    border: 0.5px solid white;
}

.post1 {
    float: left;
    width: 35%;
    height: 90px;
    margin: 0 0 0 2%;
}

.entryimg {
    margin: 5px 0 0 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.phrase {
    float: left;
    width: 55%;
    height: 80px;
    margin: 10px 0 0 3%;
    color: black;
    font-family: 'Handlee', cursive;
}

	#setting {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		float: left;
		height: 80px;
		margin-left: 22%;
		margin-top: 25px;
		background-image: url(../images/setting.png);
	}

	#new {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		height: 80px;
		float: left;
		margin-left: 15%;
		margin-top: 25px;
		background-image: url(../images/add.png);
	}

	#manage {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		height: 80px;
		float: right;
		margin-right: 22%;
		margin-top: 25px;
		background-image: url(../images/manage.png);
	}

	#setting:hover {
		border: 2px solid red;
	}
	#new:hover {
		border: 2px solid red;
	}
	#manage:hover {
		border: 2px solid red;
	}
	#def1 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		float: left;
		width: 15%;
		margin-left: 13.8%;
		margin-top: 120px;
		position: absolute;
		color: #FFFFFF;
	}
	#def2 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		float: left;
		width: 15%;
		margin-left: 27%;
		margin-top: 120px;
		position: absolute;
		color: #FFFFFF;
	}
	#def3 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		float: left;
		margin-left: 42%;
		margin-top: 120px;
		position: absolute;
		color: #FFFFFF;
	}
