	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');
	#container1 {
		margin: 0 20% 0 20%;
		border: 2px solid;
		width: 60%;
		height: 600px;
	}
	
	#title {
		text-align: center;
		font-family: 'Salsa', cursive;
		font-size: 37pt;
		letter-spacing: 0.1em;
	}
	
	#container2 {
		margin: 0 20% 0 20%;
		border: 2px solid;
		width: 60%;
		height: 50%;
	}
	
	#setting {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		float: left;
		height: 80px;
		margin-left: 22%;
		margin-top: 30px;
		background-image: url(../images/setting.png);
	}
	
	#new {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		height: 80px;
		float: left;
		margin-left: 15%;
		margin-top: 30px;
		background-image: url(../images/add.png);
	}
	
	#manage {
		border-radius: 100%;
		border: 1px solid;
		width: 9%;
		height: 80px;
		float: right;
		margin-right: 22%;
		margin-top: 30px;
		background-image: url(../images/manage.png);
	}
	
	
		