	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
	
	#container{
        border: 2px solid black;
        height: 600px;
        width: 60%;
        margin: 0 20% 0 20%;
    }

    #titleDiv{
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 35pt;
        height: 50px;
        width: 40%;
        margin: 0 30% 0 30%;
        text-align: center;
		letter-spacing: 0.1em;
        margin-top: 5%;
    }

    #imageBox{
        border: 2px solid black;
        height: 50%;
        width: 60%;
        margin: 0 20% 0 20%;
        margin-top: 5%;
    }

    #buttonContainer{
        height: 15%;
        width: 60%;
        margin: 0 20% 0 20%;
        text-align: center;
        margin-top: 5%;
    }

    #journeyDiv{
        border: 2px solid black;
        border-radius: 50%;
        float: left;
        height: 80%;
        width: 15%;
        margin: 2px 0 0 0;
    }

    #newEntryDiv{
        border: 2px solid black;
        border-radius: 50%;
        float: left;
        height: 80%;
        width: 15%;
        margin: 2px 25% 0 25%;
    }

    #settingsDiv{
        border: 2px solid black;
        border-radius: 50%;
        float: right;
        height: 80%;
        width: 15%;
        margin: 2px 0 0 0;
    }