	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

	body {
		background-image: url(../images/chiado.jpg);
	}
	#container1 {
		margin-left: auto;
		margin-right: auto;
		border: 2px solid;
		width: 60%;
		height: 600px;
		background-color: rgba(0,0,255,0.3);
		border-radius: 2%;
	}

	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 8%;
		margin-top: -12%;
	}

		#signoutDiv :hover {
		border: 2px solid red;
	}

	#title {
		text-align: center;
		color: #FFFFFF;
		font-family: 'Salsa', cursive;
		font-size: 37pt;
		letter-spacing: 0.1em;
	}

	#setting1 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		border-radius: 8%;
		height: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 11pt;
	}

	#setting2 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		border-radius: 8%;
		height: 50px;
		margin-top: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 11pt;
	}

	#setting3 {
		margin: 0 35% 0 35%;
		width: 30%;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		border-radius: 8%;
		height: 50px;
		margin-top: 50px;
		text-align: center;
		font-family: 'Handlee', cursive;
		font-size: 11pt;
	}

    #setting2:hover {
		background-color: grey;
	}
	#setting3:hover {
		background-color: grey;
	}

	#home {
		border-radius: 100%;
		border: 1px solid;
		width: 80px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		text-align: center;
		background-image: url(../images/home.png);
	}

	#home:hover {
		border: 2px solid red;
	}

	#def1 {
		letter-spacing: 0.1em;
		font-family: 'Handlee', cursive;
		float: left;
		width: 15%;
		margin-left: 47.7%;
		margin-top: 10px;
		color: #FFFFFF;
	}
