	@import url('https://fonts.googleapis.com/css?family=Salsa');
	@import url('https://fonts.googleapis.com/css?family=Handlee');

    body {
        background-image: url(../images/ibiza.png)  ;
	}

	#signoutButton {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		float: right;
		margin-right: 5%;
		margin-top: -11%;
	}

	#container1 {
		margin: 3% 20% 0 20%;
		border: 2px solid;
		width: 60%;
		height: 600px;
		background-color: rgba(36, 36, 36, 0.7);
		border-radius: 2%;
	}

    #update {
        border: 1px solid white;
        border-radius: 10%;
        width: 7%;
        height: 20px;
        text-align: center;
        font-family: 'Salsa', cursive;
        color: white;
        margin: -20px 0 0 0;
        position: absolute;
        margin: -50px 0 0 50%;
    }

    #titlediv {
        margin: 55px 0 0 0;
    }


	#title {
		text-align: center;
		font-family: 'Salsa', cursive;
		color: #FFFFFF;
		font-size: 37pt;
		letter-spacing: 0.1em;
		margin-top: -35px;
	}

    #trip {
        float: left;
        width: 80%;
        height: 380px;
        margin: -20px 10% 0 10%;
        border: 2px solid white;
        border-radius: 5%;
        overflow-y: scroll;
    }

    .trip1 {
        float: left;
        width: 80%;
        height: 150px;
        background-color: skyblue;
        margin: 35px 0 0 10%;
        border: 2px solid white;
        border-radius: 10%;
    }

    #trip2 {
        float: left;
        width: 80%;
        height: 150px;
        background-color: skyblue;
        margin: 30px 0 0 10%;
        border: 2px solid white;
        border-radius: 10%;
    }

    #img {
        float: left;
        height: 115px;
        width: 18%;
        border: 2px solid white;
        border-radius: 3%;
        color: white;
        margin: 15.5px 0 0 5%;
    }

    #des {
        float: left;
        height: 90px;
        width: 45%;
        margin: 25px 0 0 5%;
    }

    #mood {
        margin: 5% 0 0 4%;
        font-family: 'Handlee', cursive;
        color: whitesmoke;
				font-size:15 pt;
    }

		#noJ {
			margin: 0 0 0 4%;
			font-family: 'Handlee', cursive;
			color: whitesmoke;
			font-size: 20pt;
		}

		#hi{
			border-radius: 50%;
			margin-left: 20%;
			margin-top: 5%;
		}

			img:hover {
			border: 2px solid red;
		}


    #placeholder {
        width: 100%;
        height: 100%;
    }

    #zoom {
        float: left;
        width: 5%;
        height: 30px;
        margin: 55px 0 0 0;
    }

    #edit {
        float: left;
        width: 5%;
        height: 30px;
        margin: 55px 0 0 2%;
    }

    #download {
        float: left;
        width: 5%;
        height: 30px;
        margin: 55px 0 0 2%;
    }

    #picofzoom {
        width: 100%;
        height: 100%;
    }

    #picofedit {
        width: 100%;
        height: 100%;
    }

    #picofdownload {
        width: 100%;
        height: 100%;
    }
    #home {
        float: left;
		border-radius: 100%;
		border: 1px solid;
		width: 80px;
		height: 80px;
		margin: 15px 0 0 45%;
		background-image: url(../images/home.png);
	}

	#home:hover {
		border: 2px solid red;
	}
